<div class="container-fluid">
    <div class="row text-center">
        <p>Bienvenidos</p>
    </div> 

    <div class="row">
        <div class="col-md-6">
            <canvas id="canvas-line">
                {{chartLine}}
            </canvas>
        </div>

        <div class="col-md-6">
            <canvas id="canvas-doughnut">
                {{chartDoughnut}}
            </canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <canvas id="canvas-bar">
                {{chartBar}}
            </canvas>
        </div>
    </div>
</div>
